# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
saved_data
saved_model
jkl.py
__pycache__/
slim/__pycache__/
slim/nets/__pycache__/
utils/__pycache__/
